<div class="body">


  <form class="div-login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h1>Iniciar Sesión</h1>
    <img src="./login.png" alt="">
    <div class="form-field">
      <input type="email" formControlName="email" placeholder="Correo Electrónico">
      <div class="error" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
        El campo es obligatorio</div>
    </div>
    <div class="form-field">
      <input type="password" formControlName="contrasenia" placeholder="Contraseña">
      <div class="error"
        *ngIf="loginForm.get('contrasenia')?.hasError('required') && loginForm.get('contrasenia')?.touched">
        El campo es obligatorio</div>
    </div>
    <button class="btn-ingresar">Ingresar</button>
    <!--Pendiente-->
    <!--<button type="button" class="btn-registro" (click)="registrarse()">Registrarse</button>-->
  </form>

</div>
