<nav class="navbar navbar-expand-lg bg-white px-4 py-3">
  <a class="navbar-brand fw-bold text-danger fs-3" href="#">KAIKAN.</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#menu">Menu</a></li>
      
    </ul>
    <div>
@if (isLoguedIn) {
      <i class="bi bi-basket me-3 fs-5" routerLink="pedidos" style="cursor: pointer;"> Ver Pedidos</i>
      }
@if (!isLoguedIn) {
      <button class="btn btn-outline-danger" (click)="enviarDatos(true)" >Iniciar Sesion</button>
      }
    </div>
  </div>
</nav>
