
html, body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* opcional, mismo color que Bootstrap body */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
